<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mayurkakade.beingvaidya">

    <queries>
        <package android:name="com.whatsapp" />
    </queries>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BeingVaidya">
        <activity android:name=".ui.activities.WelcomeActivity"/>
        <activity android:name=".ui.activities.SubscriptionsActivity" />
        <activity android:name=".ui.activities.ActivityNotifications" />
        <activity android:name=".ui.activities.ActivityMyDoctor" />
        <activity android:name=".ui.activities.ActivityMyProfilePatients" />
        <activity android:name=".ui.activities.EditProfilePatients" />
        <activity android:name=".ui.activities.ActivityDoctor" />
        <activity android:name=".ui.activities.ImageViewPagerActivity" />
        <activity android:name=".ui.activities.ActivityPatient" />
        <activity android:name=".ui.activities.HowToAddPatientsActivity" />
        <activity
            android:name=".ui.activities.ActivityAuthentication"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".ui.activities.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.canhub.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />

        <service
            android:name=".notification.MyFirebaseIdService"
            android:directBootAware="true"
            android:enabled="true"
            android:exported="true"
            tools:targetApi="n">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".notification.MyFirebaseMessaging"
            android:directBootAware="true"
            android:enabled="true"
            android:exported="false"
            tools:targetApi="n">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <receiver android:name=".ui.fragments.patient.AlarmReceiver" />
    </application>

</manifest>